<!DOCTYPE HTML>
<html>
	<head>
		<title>Social Cloud Socket.IO Server</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">

        <link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
	</head>
	<body>
		 <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row-fluid">
                    	<div class="span6">
                            <a class="brand marginL20" href="#"><img src="/img/logo.png" alt="" /></a>
                            <h2 class="title">Social Cloud Socket.IO Server</h2>
                        </div>
                        <div class="span6">
                            
                        </div>
                    </div>
                    <!--end row-fluid-->
                </div>
            </div>
        </div>
          <div class="container main"> 
		{{{yield}}}
	</div>

	</body>


</html>